@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #5c5a5a5c !important;
    color: #000000; height: 100vh;
    display: flex !important;
    flex-direction: column;
}


.astro-header {
    padding: 1rem;
    /* position: fixed !important; */
    top: 0;
}

.astro-header .astro-in-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(20px);
    box-shadow: inset 3px 3px 10px #371c57, inset -3px -3px 10px #5e307d;
    background-color: #2f1254;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.astro-nav-links {
    display: flex;
    gap: 20px;
    position: relative;
    overflow: visible;
}

.astro-nav-links .astro-head-links {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    padding: .4rem .7rem;
    background: #ffffff5c;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2), 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.astro-nav-links .astro-head-links:hover {
    transform: translateY(-3px);
    box-shadow: 1px 1px 5px #bebebe, -1px -1px 5px #ffffff;
}

.astro-profile:hover {
    transform: scale(1.08) translateY(-3px);
}

.dash-asidebar {
    /* gap: rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 13%; */
    padding: 1rem 0px;
    border-radius: 0 8px 8px 0;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(20px);
    background-color: #2f1254;
    box-shadow: inset 3px 3px 10px #371c5772, inset -3px -3px 10px #5e307d79;
    /* position: absolute; */
    /* height: 70%; */
    /* overflow-y: scroll !important; */
}
.menu-dash-li:hover {
    /* padding: .5rem 1rem; */
    border-radius: 12px;
    background-color: #a064ce83;
    transform: scale(1.08) translateY(-3px);
    color: #fff;
}
.menu-dash-links,
.dr-li {
    text-decoration: none;
    color: #fff;
    gap: .9rem;
    font-size: .9rem;
}

.menu-dash-li {
    padding: .5rem 1rem;
    border-bottom: 1px solid #77777742;
    border-radius: 10px;
}

.menu-dash-li:hover {
    padding: .5rem 1rem;
    border-radius: 12px;
    background-color: #a064ce83;
    transform: scale(1.08) translateY(-3px);
    color: #fff;
}

.menu-dash-li.active {
    padding: .5rem 1rem;
    border-radius: 12px;
    background-color: #a064ce83;
    transform: scale(1.08) translateY(-3px);
    color: #fff;

}